.env
**/__pycache__/
/app/configs/google_api_key.json
app/services/__pycache__/speech_processor.cpython-312.pyc
app/services/__pycache__/transcribe_processor.cpython-312.pyc
app/providers/__pycache__/openai_provider.cpython-312.pyc
app/services/__pycache__/speech_processor.cpython-312.pyc
app/services/__pycache__/transcribe_processor.cpython-312.pyc
