	# Ignore environment variables file
.env

# Ignore bytecode files and cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directory
venv/

# Ignore other common files
*.db
*.log
*.DS_Store

# Ignore cache directories for testing
.pytest_cache/
.mypy_cache/
.coverage

# Ignore IDE-specific settings
.idea/
.vscode/
app/configs/google_api_key.json
DockerFile
google_api_key.json